<%- include('partials/header') %>

    <main>
        <h1><%= title %></h1>
        
        <p>Here are some of our recent projects:</p>

<ul>
    <% if (projects && projects.length > 0) { %>

        <% projects.forEach(project => { %>
            <li>
                <%= new Date(project.project_date).toLocaleDateString() %>:
                <%= project.title %>
                (<%= project.organization_name %>)
            </li>
        <% }) %>

    <% } else { %>

        <li>No projects available.</li>

    <% } %>
</ul>

<%- include('partials/footer') %>